header#rest-header
	.container
		.left
			img(src="../img/assets/brand/logo-small.svg").logo-vert
		.right
			.nav-ham 
				.icon
					ul 
						li
						li 
						li
				button(type="button").btn-text Наше меню
			address.rest-header-address
				ul
					li Химки, Молодёжная, 6
					li т. +7 (495) 793-14-77
					li Время доставки: с 12:00 до 24:00
