include header
main
	aside
		.rest-nav
	.main-content
	.menu-category
		ul
			li: a(href="#").menu-category-btn: h2.kitchen Основное меню
			li: a(href="#").menu-category-btn: h2.bar Напитки
	.menu
		.menu-content
			ul.menu-content-nav
				li 
					a(href="#") Холодные закуски
				li
					a(href="#") Салаты
				li
					a(href="#") Супы
				li
					a(href="#") Горячие закуски
				li
					a(href="#") Выпечка
				li
					a(href="#") Сыры
				li
					a(href="#") Чебуреки
				li
					a(href="#") Горячие блюда
				li
					a(href="#") Хинкали
				li
					a(href="#") На углях
				li
					a(href="#") Гарниры
				li
					a(href="#") Соусы
				li
					a(href="#") Десерты
			
			.menu-item
				p у общего блока для позиций класс .menu-item
				h1 Холодные закуски
				h2 Овощные
				h2 Мясные
				h2 Рыбные
				h1 Супы
			
				.oj-card-title Название блюда в карточке

				.oj-card-description Описание

				.oj-card-veight 200г 200мл 1шт.

				.oj-card-price 1100Р
			

			.form-test
				p
					label Название поля
					input(type='text')

			.btn-test(style="margin-top:5rem")
				button.button Основная кнопка