include header
main
	aside.rest-nav
		ul.menu-category
			li Основное меню
				ul.menu-content
					li.active
						a(href="#") Холодные закуски
					li 
						a(href="#") Салаты
					li 
						a(href="#") Сыры
					li 
						a(href="#") Супы
					li 
						a(href="#") Выпечка
					li 
						a(href="#") На углях
					li 
						a(href="#") Чебуреки
					li 
						a(href="#") Хинкали
					li 
						a(href="#") Десерты
					li 
						a(href="#") Гарниры
					li 
						a(href="#") Соусы
			li Напитки
				ul.menu-content
					li 
						a(href="#") Безалкогольные напитки
		.separator
		ul.rest-nav-footer
			li
				a(href="#").ads Акции
			li
				a(href="#").cv Вакансии
			li
				a(href="#") Реквизиты
			li
				a(href="#") К списку ресторанов
			li
				a(href="#").logo-guliani
					img(src="../img/assets/brand/gg-logo.svg", alt="Guliani logo")
	.main-products
		h1.menu-item-header Основное меню
		h2.sub-categories Холодные закуски
		ul.products