main .rest-nav {
	padding: 0 4rem;
	& .menu-category {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

main .rest-nav .separator {
	height: 1px;
	background-color: ac(black);
	margin: 3rem 0 4rem;
}

main .menu-category > li {
		font-size: 4rem;
		font-family: $global-font-family;
		margin-top: 2rem;
}

main .menu-content {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 2rem;
	& li a {
		display: block;
		font-size: 2.25rem;
		font-family: $second-font-family;
		text-decoration: none;
		padding: .75rem 0;
		&:hover {
			background-color: ac(fourth);
		}
	}
	& .active a {
		font-family: $second-font-family;
		color: ac(secondary);
	}
}

main .rest-nav .rest-nav-footer {
	list-style: none;
	margin: 0;
	padding: 0;
	& li a {
		display: block;
		padding: 1rem 0;
		font-size: 2rem;
		font-family: $second-font-family;
		text-decoration: none;
		&:hover {
			background-color: ac(fourth);
		}
	}
	& .ads {
		font-family: $global-font-family;
		font-size: 3rem;
		border: solid 1px ac(black);
		border-radius: 1rem;
		padding: 1rem 4rem 1.5rem 3.5rem;
		display: inline-block;
	}
	& .cv {
		font-family: $global-font-family;
		font-size: 3rem;
		margin-top: 1rem;
	}
	& .logo-guliani {
		max-width: 20rem;
		padding: 1rem;
		&:hover {
			background-color: transparent;
		}
	}
}


.main-products .menu-item-header {
	font-size: 4rem;
	@media (min-width: $b-medium) {
		font-size: 6rem;
	}
	@media (min-width: $b-xxlarge) {
		font-size: 8rem;
	}
	&::after {
		content: '';
		display: block;
		height: .125rem;
		width: 100%;
		background-color: ac(black);
		margin: 2rem 0;
	}
}

.main-products .sub-categories {
	font-size: 3rem;
	@media (min-width: $b-medium) {
		font-size: 4rem;
	}
}


// cards
ul.products {
	margin: 0;
	padding: 0;
	list-style: none;
}
